.carousel-first-slide {
    top: 50%;
    left: -20%;
    /* transform: translate(-50%, -50%); */
  }

.carousel-second-slide{
    top: 50%;
    left: 40%;
}

.carousel-third-slide{
    top: 15%;
}

.resize-img{
    width: 92px;
    height: 78px;
}

.about{
    background-image: url('./images/Decore.png');
    background-repeat: no-repeat;
    background-position: center;
}

.about-section-para{
    text-align: justify;
}

.form-section{
    background-color: rgb(221, 229, 243);
}

